<template>
  <table>
    <tr v-for="(n, i) in game.lines" :key="i">
      <td
        v-for="(m, j) in game.lines"
        :class="[flagged[i * game.lines + j]]"
        :key="j"
        @contextmenu.prevent="flag([i, j])"
        @click.prevent="handleClick([i, j])">
        {{ game.revealed[i * game.lines + j] || "" }}
      </td>
    </tr>
  </table>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

import methods from '@/components/game/methods'

export default defineComponent({
  name: 'game',
  data () {
    return {
      game: {
        lines: 0,
        mines: [],
        revealed: {}
      },
      flagged: {}
    }
  },
  methods,
  async created () {
    this.getGame()
  }
})
</script>
<style>
td {
  width: 30px;
  height: 30px;
  background-color: grey;
}
.mine {
  background-color: pink;
}
.revealed {
  background-color: white;
  color: black;
}
.mark {
  background-color: orange;
}
</style>
