<template>
    <Game/>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Game from '@/components/game/Game.vue'

export default defineComponent({
  name: 'app',
  components: {
    Game
  }
})
</script>
